<a href="https://colab.research.google.com/github/shubhankardey1999/PROGRAMMING/blob/main/1_PYTHON_PROGGRAMING.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## REMOVAL LINE (SINGLE LINE - '#' AND MULTIPLE LINE - """ """ )

In [ ]:
#Please dont remove this line
"""
This is a
Multiline Comment
"""
"""
This is a comment
"""
print ("Subscribe CodeWithHarry now")

Subscribe CodeWithHarry now

##ONLY PRINT

In [ ]:
print ("Subscribe CodeWithHarry now") 
print ("Bhai video bhi like kar dena")

Subscribe CodeWithHarry now
Bhai video bhi like kar dena

##PRINT A SINGLE LINE...........  HERE " , " = SPACE

In [ ]:
print ("Subscribe CodeWithHarry now", end="") 
print ("Bhai video bhi like kar dena")

print ("Subscribe CodeWithHarry now", end="JOKER") 
print ("Bhai video bhi like kar dena")

print ("Subscribe CodeWithHarry now", end=" ") 
print ("Bhai video bhi like kar dena")

print ("Subscribe CodeWithHarry now","Bhai video bhi like kar dena")
 
print ("Subscribe CodeWithHarry now","Bhai video bhi like kar dena",end="")

Subscribe CodeWithHarry nowBhai video bhi like kar dena
Subscribe CodeWithHarry nowJOKERBhai video bhi like kar dena
Subscribe CodeWithHarry now Bhai video bhi like kar dena
Subscribe CodeWithHarry now Bhai video bhi like kar dena
Subscribe CodeWithHarry now Bhai video bhi like kar dena

##ESCAPE SEQUENCE CHARACTERS      \

In [ ]:
print("C: \\harry")
print("C: \"harry")
print("C: \,harry")

print("HARRY IS A \n GOOD BOY \t1")

C: \harry
C: "harry
C: \,harry
HARRY IS A
 GOOD BOY 	1

##VARIABLE AND DATA TYPE

In [ ]:
var1="HELLO WORLD"
print(var1)

var1="HELLO WORLD"  #string = " "
var2= 10
var3= 56.31
print(type(var1))
print(type(var2))
print(type(var3))

print(var3 + var2)

HELLO WORLD
<class 'str'>
<class 'int'>
<class 'float'>
66.31

##TYPE CASTING

In [ ]:
var1="30"
var4="50"  #string = " "
var2= 10
var3= 56.31
print(var1 + var4)
print(int(var1) + int(var4))

print(5*"shubhankar")
print(5*"shubhankar\n")

print(5*int(var1) + int(var4))
print(5*str(int(var1) + int(var4)))

3050
80
shubhankarshubhankarshubhankarshubhankarshubhankar
shubhankar
shubhankar
shubhankar
shubhankar
shubhankar

200
8080808080

##USER DEFINE

In [ ]:
print("ENTER YOUR NAME ")
inpnum = input()
print("YOUR NAME IS",inpnum)

print("ENTER YOUR NUMBER ")
inpnum = input()
print("YOUR NUMBER IS",int(inpnum)+10)

ENTER YOUR NAME
shubhankar
YOUR NAME IS shubhankar
ENTER YOUR NUMBER
100
YOUR NUMBER IS 110

##String Slicing

In [ ]:
mystr="my name is shubhankar"
print(mystr[1])     #[n], here n is 0,1,2,3,4,5...
print(mystr[0:5])   #[a:b+1] here a is a lower term and b is a upper term. a is including bt b excluding.
print(mystr[:])     #a is blank then 0. b is blank then b=full length. for negetive value its count backword
print(len(mystr))   #length of the string
print(mystr[0:21])
print(mystr[0:21:2])  # :2 means jump . if it is blank then its automatic 1.
print(mystr[::-1])    # negetive means it is reverse.

y
my na
my name is shubhankar
21
my name is shubhankar
m aei hbakr
raknahbuhs si eman ym

##SOME OTHER FUNCTIONS

In [ ]:
mystr="shubhankar is a Good boy"
print(mystr.isalnum())      # boolean characters. there is a space so it is false.
print(mystr.isalpha())
print(mystr.endswith("boy"))
print(mystr.count("a"))
print(mystr.capitalize())
print(mystr.find("is"))
print(mystr.lower())
print(mystr.upper())
print(mystr.replace("Good","bad"))

False
False
True
3
Shubhankar is a good boy
11
shubhankar is a good boy
SHUBHANKAR IS A GOOD BOY
shubhankar is a bad boy

##PYTHON LIST AND LIST FUNCTION

In [ ]:
grocery=["Muri","Chire","honey,","Masala",56]
print(grocery)
print(grocery[4])

numbers=[6,3,7,2,9,1]
numbers.sort()
print(numbers)
numbers.reverse()
print(numbers)
print(numbers[::-2])
print(max(numbers))       #max/min

numbers=[6,3,7,2,9,1]
numbers.append(100)       #append= adding last
print(numbers)

numbers=[6,3,7,2,9,1]
numbers.insert(0,200)       #insert(a,b)= adding b at a position 
print(numbers)

#numbers=[6,3,7,2,9,1]
numbers.remove(9)           #remove element
print(numbers)

#numbers=[6,3,7,2,9,1]
numbers.pop(2)           #remove position.
print(numbers)

['Muri', 'Chire', 'honey,', 'Masala', 56]
56
[1, 2, 3, 6, 7, 9]
[9, 7, 6, 3, 2, 1]
[1, 3, 7]
9
[6, 3, 7, 2, 9, 1, 100]
[200, 6, 3, 7, 2, 9, 1]
[200, 6, 3, 7, 2, 1]
[200, 6, 7, 2, 1]

In [ ]:
numbers=[6,3,7,2,9,1]
numbers[2]=100
print(numbers)
#numbers.insert(2,100)       #insert(a,b)= adding b at a position 
print(numbers)

[6, 3, 100, 2, 9, 1]
[6, 3, 100, 2, 9, 1]

## TUPPLE FUNCTION
It's define ( )

In [ ]:
# mutable - can change
# immutable - can not change 
tp = (1,2,3,4,5)              #tupple cannot change
print(tp)                     #its showing  ()
tp = (1)                      #no paranthesis cz single value with no comma
print(tp) 
tp = (1,)
print(tp) 

a=1
b=8
""" temp=a
    a=b
    b=temp
    print(a,b) """
a,b=b,a
print(a,b)          # in python

(1, 2, 3, 4, 5)
1
(1,)
8 1

##DICTIONARY FUNCTION
dictionary is nothing but key value pairs. it's define { }

In [ ]:
d1={}
print(type(d1))

d2={"shubhankar":"mutton","swarnali":"chicken","anjali":"egg","keshab":"fish"}
print(d2)
print(d2["swarnali"])                    #print a simple dictionary
print(d2.get("swarnali"))                # both are correct

d2={"shubhankar":"mutton","swarnali":"chicken","anjali":"egg","keshab":"fish","guddu":{"B":"bread","L":"rice","D":"ruti"}}
print(d2)
print(d2["guddu"])
print(d2["guddu"]["B"])             #dictionary under a dictionary

d2["sagar"]="junk food"             # add dictionary
d2["piyali"]="street food"
print(d2)

d2.update({"maa":"abc"})            # add dictionary
print(d2)

del d2["sagar"]                     # remove from d2
print(d2)

d3=d2                             
del d3["piyali"]                    #del from direct d2
print(d2)

d3=d2.copy()                       #copy d2 in d3
del d3["keshab"]                   #del from d3 not d2
print(d3)

print(d2.keys())
print(d2.items())

<class 'dict'>
{'shubhankar': 'mutton', 'swarnali': 'chicken', 'anjali': 'egg', 'keshab': 'fish'}
chicken
chicken
{'shubhankar': 'mutton', 'swarnali': 'chicken', 'anjali': 'egg', 'keshab': 'fish', 'guddu': {'B': 'bread', 'L': 'rice', 'D': 'ruti'}}
{'B': 'bread', 'L': 'rice', 'D': 'ruti'}
bread
{'shubhankar': 'mutton', 'swarnali': 'chicken', 'anjali': 'egg', 'keshab': 'fish', 'guddu': {'B': 'bread', 'L': 'rice', 'D': 'ruti'}, 'sagar': 'junk food', 'piyali': 'street food'}
{'shubhankar': 'mutton', 'swarnali': 'chicken', 'anjali': 'egg', 'keshab': 'fish', 'guddu': {'B': 'bread', 'L': 'rice', 'D': 'ruti'}, 'sagar': 'junk food', 'piyali': 'street food', 'maa': 'abc'}
{'shubhankar': 'mutton', 'swarnali': 'chicken', 'anjali': 'egg', 'keshab': 'fish', 'guddu': {'B': 'bread', 'L': 'rice', 'D': 'ruti'}, 'piyali': 'street food', 'maa': 'abc'}
{'shubhankar': 'mutton', 'swarnali': 'chicken', 'anjali': 'egg', 'keshab': 'fish', 'guddu': {'B': 'bread', 'L': 'rice', 'D': 'ruti'}, 'maa': 'abc'}
{'shubhankar': 'mutton', 'swarnali': 'chicken', 'anjali': 'egg', 'guddu': {'B': 'bread', 'L': 'rice', 'D': 'ruti'}, 'maa': 'abc'}
dict_keys(['shubhankar', 'swarnali', 'anjali', 'keshab', 'guddu', 'maa'])
dict_items([('shubhankar', 'mutton'), ('swarnali', 'chicken'), ('anjali', 'egg'), ('keshab', 'fish'), ('guddu', {'B': 'bread', 'L': 'rice', 'D': 'ruti'}), ('maa', 'abc')])

##SETS IN PYTHON

In [ ]:
s=set()
print(type(s))

#s=set([1,2,3,4,5])
print(s)

s.add(6)      # add value
s.add(6)      # print one 6
s.add(7)
#print(s)

s.union({7,8})     
print(s)

s1=s.union({7,8}) 
print(s,s1)

s2=s.intersection({7,8}) 
print(s,s2)

print(len(s))
print(max(s))

s3={11,12}
print(s.isdisjoint(s3))

s3.remove(11)
print(s3)

<class 'set'>
set()
{6, 7}
{6, 7} {8, 6, 7}
{6, 7} {7}
2
7
True
{12}

##IF ELSE & ELIF CONDITIONS

In [ ]:
varl = 6
var2 = 56
var3= int(input ())
if var3>var2:
  print ("Greater")
elif var3==var2: 
  print ("Equal")
else:
  print ("Lesser")

list1=[5,6,7]
print(5 in list1)
if 5 in list1:
  print("yes,its in the list")

list1=[5,6,7]
print(3 not in list1)
if 8 not in list1:
  print("not ,its not in the list")

a=10                          #SHORT HAND IF ELSE NOTATION
b=20
print("a>b") if a>b else print("b>a")

10
Lesser
True
yes,its in the list
True
not ,its not in the list
b>a

##FOR LOOP IN PYTHON

In [ ]:
list1= ["Harry","Larry","Carry","Marry"]      
print(list1[0],list1[2])          #print 0 and 2

for item in list1:                #print every item
  print(item)  

list2= [["Harry",1],["Larry",22],["Carry",66],["Marry",100]]

for item in list2:
  print(item)

for item, abc in list2:
  print(item, abc)
for item, abc in list2:
  print(item,"and lollypop is", abc)

Harry Carry
Harry
Larry
Carry
Marry
['Harry', 1]
['Larry', 22]
['Carry', 66]
['Marry', 100]
Harry 1
Larry 22
Carry 66
Marry 100
Harry and lollypop is 1
Larry and lollypop is 22
Carry and lollypop is 66
Marry and lollypop is 100

##WHILE LOOP IN PYTHON

In [ ]:
i=0
while(i<5):           #condition
  print(i,end=" ")     # horizontal
  #print(i)            # vertical
  i=i+1

0 1 2 3 4

##BREAK & CONTINUE STATEMENT

In [ ]:
i = 0
while (True) :
  if i+1<5:
    i=i+1
    continue
  print(i+1, end=" ")
  if(i==44):
    break           #stop the loop
  i=i+1             #yaha par

In [ ]:
while(True):
  a=int(input("enter a number"))
  if a>100:
    print("congratulaion! ")
    break
  else:
    print("try again")
    continue

enter a number45
try again
enter a number650
congratulaion!

##PROBLEM 3: GUESS A NUMBER

In [ ]:
print("\t\t\t\t HELLO, WELCOME TO THE GAME\n")
X=input("\t\t\t\tENTER YOUR NAME ")
print ("\t\t\t(NUMBER TO GUESS IS LIMITED ITS ONLY 4)\n")
n=1
while(n<=4):
  a=int(input("guess a number upto 50 : "))
  if a>13:
    print("\t\t\toops! this is a large number\nplease try again!!\n")
  elif a<13:
    print("\t\t\toops! this is a small number\nplease try again!!\n")
  else:
    print("\n\t \t CONGRATULATION!! YOU WON THE GAME")
    break
  print("only ",4-n," chance left")

  n=n+1
if n>4:
  print("\t\t\2tGAME OVER!! \n\t\tBETTER LUCK NEXT TIME!!!")

				 HELLO, WELCOME TO THE GAME

				ENTER YOUR NAME  shunhankar
			(NUMBER TO GUESS IS LIMITED ITS ONLY 4)

guess a number upto 50 : 13

	 	 CONGRATULATION!! YOU WON THE GAME

##OPERATORS IN PYTHON

In [ ]:
## ARITHMETIC OPERATOR
print("5+6 is",5+6)
print("59//4 is",59//4)       # // = divide and print integer value 
print("2**4 is",2**4)         # ** = power
print("10%3 is",10%3)         # % = reminder

print("\n")
## ASSINGMENT OPERATOR
x=5
print(x)
x +=7                         # add 7
print(x)

print("\n")
## COMPARISON OPERATOR 
i=5
print(i==5)
print(i<=5)
print(i>=5)
print(i<5)
print(i>5)
print(i!=5)

print("\n")
## LOGICAL OPERATOR
a=True
b=False
print(a and b)
print(a or b)

print("\n")
## IDENTITY OPERATOR
a=True
b=False
print(a is b)
print(a is not b)

print("\n")
## MEMBERSHIP OPERATOR
list=[1,2,3,4,5,6,7]
print(2 in list)
print(10 not in list)

print("\n")
## BITWISE OPERATOR
print(5 | 6)           # | = or, &=and
print(5 & 6)           # 5=101, 6=110

5+6 is 11
59//4 is 14
2**4 is 16
10%3 is 1


5
12


True
True
True
False
False
False


False
True


False
True


True
True


7
4

##FUNCTIONS AND DOCSTRINGS

In [ ]:
def function1():
  print("hello you are in fumction 1")
function1()
#print(function1())       # print extra none

def function1(a,b):
  print("hello you are in fumction 1", (a+b))
function1(5,7)

def f(a,b):
  average=(a+b)/2
  print(average)
f(5,7)

print("\n")
def f(a,b):
  """my name is shubhankar"""
  average=(a+b)/2
  #print(average)
  return average        #for this return average is stored in v.
v=f(5,7)
print(v)
print(f.__doc__)        # doc function its print only the 1st comment line to the func

hello you are in fumction 1
hello you are in fumction 1 12
6.0


6.0
my name is shubhankar

##TRY EXCEPT EXCEPTION HANDLING

In [ ]:
print("enter num 1")
num1=input()
print("enter num 2")
num2=input()
try:                       # jump the error
  print("the sum of two numbers is",
  int(num1)+int(num2))
except Exception as R:
  print(R)

print("this line is very important")

enter num 1
12
enter num 2
10
the sum of two numbers is 22
this line is very important

##PYTHON FILES IO BASICS

FILES IO BASICS

"r" - Open file for reading          ( default)   
"w" - Open file for writing      
"x" - Creates file if not exists     
"a" - Add more content to a file     
"t" - text mode     (default)   
"b" - binary mode    
"+" - read and write